{% extends "sidebar.html" %}

{% block title %}Actualidades{% endblock %}

{% block sidecontent %}
	<style type="text/css">
		.call-outs-container{
			display: flex;
			margin: 0 auto;
			padding: 0 0 10px 40px;

		}
		.call-out{
			border-radius: 3px;
		    box-shadow: 0 1px 3px rgba(0,0,0,.4);;
			background-color: #fff;
		  	padding: 20px;
		  	box-sizing: border-box;		  	
		  	flex-basis: 100%;
		}
		.call-out ul{
			list-style: none;
			padding: 0;
		}
		h5, h3{
			padding-top: 20px;
		}
		.text-center{
			text-align: center;
		}
		
		@media (max-width: 500px) {
			.main-content{
				padding: 0px;
			}
			.call-outs-container{
		    	display: flex;
		    	padding: 0 3px 0px 3px;
		  	}
		}
		
	</style>
		<div class="call-outs-container">
		  <div class="call-out">
		  	<h3>Actualidades</h3>
		  	
				<p>Desde a criação da Cidade do Dundo foram realizadas várias actividades no âmbito das comemorações das festividades da Cidade ao longo dos subsequentes dois anos. Destacam-se: </p>
				<h6 class="text-center">1º ANIVERSÁRIO </h6>
				<p class="text-center">Realizado de 05 à 07/01/2016 Sob o Lema: Transformar a sociedade para a diversificação da economia.</p>
				
				<p class="text-center"><b>Teve as seguintes actividades:</b></p>
				<ul class="text-center text-align">
		    		<li>Exposição de Arquitectura e Urbanismo</li>
		    		<li>Gala "Dundo Cultural" </li>
		    		<li>Iº Fórum da Cidade do Dundo</li>
		    		<li>Espectáculo músico cultural</li>
		    		<li>Competições desportivas (Atletismo 10 Km e Futebol 11)</li>
		    		<li>Inaugurações de infraestruturas </li>
		    		<li>Gala "Dundo 1ºAniversário”</li>
		    	</ul>
		    	<h6 class="text-center">2º ANIVERSÁRIO</h6>
		    	<p class="text-center">Realizado de 05 à 07/01/2017 Sob o Lema: AUTARQUIAS: Um novo modelo de Estado</p>
		    	<p class="text-center"><b>Teve as seguintes actividades:</b></p>
		    	<ul class="text-center text-align">
		    		<li>1ª Feira de Jovens Empreendedores</li>
		    		<li>Miss Cidade do Dundo-2017</li>
		    		<li>IIº Fórum da Cidade do Dundo </li>
		    		<li>Show Musical</li>
		    		<li>Competições desportivas</li>
		    		<li>Inaugurações de infra-estruturas</li>
		    		<li>Gala "Dundo 2º Aniversário</li>
		    	</ul>
			

		    	<h5 class="text-center">Informação relativa ao distrito do Mussungue</h5>
			    <p>Localizada no Distrito Urbano do Mussungue a “Centralidade do Mussungue” é o maior projecto habitacional da Lunda-Norte, concebida no ano de 2008 como um projecto estruturante com o objectivo de solucionar o défice habitacional que muitas famílias 
				enfrentavam, a primeira fase comporta 5.004 apartamentos, foi construída numa área de 116 hectares. Dispõe de 419 prédios de 2,9,11 e 18 andares do tipo 73,T4 e T5.</p>
				<p>Abarca um Hospital Geral com 95 camas, uma Creche para acolher 900 crianças e uma escola primária com 50 salas de aulas. Centros comerciais, bombas de combustíveis, unidades policiais, parques de estacionamentos, sistema de tratamento e abastecimento de águas, sistema de drenagem de águas residuais e pluviais, assim como 26 km de redes viárias integram a centralidade do Dundo. Foi concebida em quatro fases comportando para os próximos dez anos a construção de mais dez 10 mil apartamentos.
				</p>
			
		    <h5 class="text-center">Gestão da Centralidade do Mussungue </h5>
		    <p>A Centralidade do Mussungue foi subdividida do ponto de vista do uso e organização de espaços em quatro partes:</p>
		    <ul>
		    	<li><p>Espaços de uso Privativo (Apartamentos; são espaços restritos aos moradores dos apartamentos) </p></li>
		    	<li><p>Espaço de uso colectivo imediato (<b>Escadas, elevadores, corredores, hall de entrada, estacionamentos, passeios e espaços verdes adjacentes aos prédios; são espaços restritos aos moradores do prédio</b>)</p></li>
		    	<li><p>Espaço de uso Colectivo intermediário (Ruas terciárias (<b>vias de acesso aos estacionamentos), estacionamentos e praças</b>; são espaços direccionados principalmente e “não exclusivamente” para os moradores da praça/zona) </p></li>
		    	<li><p>Espaço de uso colectivo Geral (<b>Ruas principais “avenidas”, Ruas secundárias “vias de ligação entre Ruas principais e ruas terciárias” e espaços verdes públicos</b>; são espaços extensivos a todos os moradores.)</p></li>
		    </ul>
		    <p>Criou-se um modelo de  Interação entre Administração,  Universidade e Comunidade urbana, pois  é indispensável para a construção de uma sociedade justa e solidária.</p>
		    <p>Pretende-se com este modelo, que a comunidade e a universidade participem da elaboração, do acompanhamento e da execução das políticas públicas. </p>
		    <p>Não há como falar em Gestão Urbana, sem vinculá-lo ao Cidadão, que Desempenha papel fundamental na manutenção e conservação das infraestruturas Colocadas a sua disposição. </p>
		    <p>No intuito de criar o espaço público (Centralidade do Mussungue) como um espaço de cidadania, tem sido levado a cabo acções de educação e sensibilização através do <b>Projecto: Teatro Comunitário, e Palestras</b>.</p>
		    <p>Tais acções, visam levar ao conhecimento dos moradores, os seus direitos e deveres, bem como difundir a importância da manutenção, conservação e fiscalização como instrumentos de gestão da Centralidade.</p>
		  </div>
		</div>
{% endblock %}