{% extends "base.html" %}

{% block title %}Porquê o Dundo{% endblock %}

{% block conteudo %}
	<style type="text/css">
		.porque-o-dundo{
			background-color: #fff; 
		}
		.call-outs-container-2 {
		  	max-width: 1400px;
		  	padding: 40px;
		  	justify-content: space-around;
		}
		
		h4{
			padding-bottom: 20px;
		}
		h4{
			text-align: center;
			font-weight: bold;
		}
	</style>
	<div class="porque-o-dundo">
		<!-- third example -->
		<div class="call-outs-container-2">
			<h2>Porquê o Dundo?</h2>
			<br>
			<p>A cidade do Dundo é uma cidade calma, onde é possivél ter sossego e poderás disfrutar de ambientes verdes que darão cor a sua vida e o seu dia a dia.</p>
			<p>A Cidade do Dundo destaca-se na paisagem com as suas torres coloridas e novas outras construções pintadas de fresco, em ruas alinhadas e asfaltadas, passeios pavimentados e jardins floridos.</p>
			
			<h4>A Visitar</h4>    
        
			<ul style="max-width: 700px; margin: 0 auto;">
				<li>Museu Etnográfico do Dundo, um dos maiores de Angola</li>
				<li>Lagoa de Catxipindji</li>
				<li>Piscina do Mussungue</li>
				<li>Central hidroeléctrica e a barragem do Luachimo</li>
				<li>Rio Luachimo</li>
				<li>Riacho Conduege</li>
				<li>Palácio do Governo da Província da Lunda-Norte</li>
				<li>Rotunda do obelisco</li>
				<li>Museu de Bala-Bala</li>
				<li>Tchibuba</li>
				<li>Camudembele</li>
				<li>Antiga administração colonial do Cuango</li>
				<li>Rio Funge (onde realizou-se a 1ª pesquisa de lavagem de diamantes)</li>
				<li>Txitanda</li>
			</ul>
		</div>
	</div>
{% endblock %}