{% extends "base.html" %}

{% block title %}Cidade do Dundo{% endblock %}

{% block conteudo %}
	<style type="text/css">
		.cidade-do-dundo{
			background-color: #fff;
			padding: 0 10px; 
		}
		.call-outs-container-2 {
		  	max-width: 1400px;
		  	padding: 50px 0;
		  	justify-content: space-around;
		}
		
		.card h4{
			padding-bottom: 20px;
		}
		.card h4{
			text-align: center;
			font-weight: bold;
		}
	</style>
	<div class="cidade-do-dundo">
		<!-- third example -->
		<div class="call-outs-container-2">
			<div class="container">
				<hr>
				<div class="row">
		          	<div class="col-md-12">
		            	<div class="card-columns">
		              		<a href="/cidade-do-dundo/porque-o-dundo">
		                	<div class="card card-block">
			                 	<h4 class="card-title">
			                 		<i class="fa fa-lightbulb-o" aria-hidden="true"></i> Porquê o Dundo?
			                 	</h4>
			                  	<p class="card-text">A cidade do Dundo é uma cidade calma, onde é possivél ter sossego e poderás disfrutar de ambientes verdes que darão cor a sua vida e o seu dia a dia.</p>
		                	</div>
		              		</a>
		          
			              	<a href="/cidade-do-dundo/cultura">
			                	<div class="card card-block">
			                  		<h4 class="card-title"><i class="fa fa-users" aria-hidden="true"></i> Cultura</h4>
			                  		<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
			                	</div>
			              	</a>

		              		<a href="/cidade-do-dundo/desporto">
		                		<div class="card card-block">
		                  			<h4 class="card-title"><i class="fa fa-futbol-o" aria-hidden="true"></i> Desporto</h4>
		                  			<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
		                		</div>
		              		</a>

		              		<a href="/cidade-do-dundo/educacao">
		                		<div class="card card-block">
		                  			<h4 class="card-title"><i class="fa fa-graduation-cap" aria-hidden="true"></i> Educação</h4>
		                  			<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
		                		</div>
		              		</a>

		              		<a href="/cidade-do-dundo/comercio">
				                <div class="card card-block">
				                	<h4 class="card-title">
				                		<i class="fa fa-money" aria-hidden="true"></i> Comércio
				                	</h4>
				                  	<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
				                </div>
		              		</a>

			              	<a href="/cidade-do-dundo/habitar">
			                	<div class="card card-block">
			                  		<h4 class="card-title"><i class="fa fa-building-o" aria-hidden="true"></i> Habitação</h4>
			                  		<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
			                	</div>
			              	</a>
			            </div>
		        	</div>
		   		</div>
				<hr>
			</div>
		</div>
	</div>
{% endblock %}