{% extends "sidebar.html" %}

{% load staticfiles %}

{% block title %}Eventos{% endblock %}

{% block sidecontent %}
	<style type="text/css">
		.eventos{
			display: flex;
      		padding: 0 0 10px 40px;
		}
		
		/*  */
		.call-outs-container-2 {
			background-color: #fff;
			flex-basis: 100%;
      		padding: 20px;
			box-shadow: 0 1px 3px rgba(0,0,0,.4);
			border-radius: 3px;
		}
		

		h4{
			padding-bottom: 20px;
			text-align: center;
			font-weight: bold;
		}
		
		@media (max-width: 900px) {
			.eventos{
	      		padding: 0px;
			}
		}

		

		
	</style>
	<div class="eventos">
		<!-- third example -->
		<div class="call-outs-container-2">

			<h4>Eventos</h4>
			
			<hr>
        	<p><b>EPUL</b> - Empresa Pública Municipal de Urbanização de Lisboa
			A EPUL, Empresa Pública de Urbanização de Lisboa, foi dissolvida e encerrada no dia 31 de dezembro de 2014 (deliberações nº 61/AML/2013, publicada no Boletim Municipal nº 1006, de 30/05/2013 e 1/CM/2014, publicada no Boletim Municipal nº 1040, 23/01/2014)</p>
			 
			<ul><b>Contactos:</b>
				<li>Câmara Municipal de Lisboa</li>
				<li>www.cm-lisboa.pt</li>
				<li>email: municipe@cm-lisboa.pt</li>
				<li>telefone: 808 20 32 32</li> 
			</ul>
			<hr>
			<p><b>EPUL</b> - Empresa Pública Municipal de Urbanização de Lisboa
			A EPUL, Empresa Pública de Urbanização de Lisboa, foi dissolvida e encerrada no dia 31 de dezembro de 2014 (deliberações nº 61/AML/2013, publicada no Boletim Municipal nº 1006, de 30/05/2013 e 1/CM/2014, publicada no Boletim Municipal nº 1040, 23/01/2014)</p>
			 
			<ul><b>Contactos:</b>
				<li>Câmara Municipal de Lisboa</li>
				<li>www.cm-lisboa.pt</li>
				<li>email: municipe@cm-lisboa.pt</li>
				<li>telefone: 808 20 32 32</li>
			</ul>
			<hr>
			<p><b>EPUL</b> - Empresa Pública Municipal de Urbanização de Lisboa
			A EPUL, Empresa Pública de Urbanização de Lisboa, foi dissolvida e encerrada no dia 31 de dezembro de 2014 (deliberações nº 61/AML/2013, publicada no Boletim Municipal nº 1006, de 30/05/2013 e 1/CM/2014, publicada no Boletim Municipal nº 1040, 23/01/2014)</p>
			 
			<ul><b>Contactos:</b>
				<li>Câmara Municipal de Lisboa</li>
				<li>www.cm-lisboa.pt</li>
				<li>email: municipe@cm-lisboa.pt</li>
				<li>telefone: 808 20 32 32</li>
			</ul>
			<hr>
			<p><b>EPUL</b> - Empresa Pública Municipal de Urbanização de Lisboa
			A EPUL, Empresa Pública de Urbanização de Lisboa, foi dissolvida e encerrada no dia 31 de dezembro de 2014 (deliberações nº 61/AML/2013, publicada no Boletim Municipal nº 1006, de 30/05/2013 e 1/CM/2014, publicada no Boletim Municipal nº 1040, 23/01/2014)</p>
			 
			<ul><b>Contactos:</b>
				<li>Câmara Municipal de Lisboa</li>
				<li>www.cm-lisboa.pt</li>
				<li>email: municipe@cm-lisboa.pt</li>
				<li>telefone: 808 20 32 32</li>
			</ul>
			<hr>
		    
		</div>
	</div>
{% endblock %}