{% extends "base.html" %}

{% block title %}Cultura{% endblock %}

{% block conteudo %}
	<style type="text/css">
		.cultura{
			background-color: #fff; 
		}
		.call-outs-container-2 {
		  	max-width: 1400px;
		  	padding: 40px;
		  	justify-content: space-around;
		}
		
		h4{
			padding-bottom: 20px;
			text-align: center;
		}
		.bold-text{
			font-weight: bold;
		}
		.sem_info{
			max-width: 500px;
			margin: 30px auto;
			text-align: center;
			padding: 60px;
			border: 2px solid #49DCFF;
		}
	</style>
	<div class="cultura">
		<!-- third example -->
		<div class="call-outs-container-2">
			<h4 class="bold-text">Cultura</h4>
			<div class="sem_info">
				<h5>Sem informações disponíveis</h5>
			</div>
		</div>
	</div>
{% endblock %}